<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Chat Box Like Facebook - Bootsnipp.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
                *
        {
            -webkit-border-radius: 0px  !important;
            -moz-border-radius: 0px  !important;
            border-radius: 0px !important;
        }
        htlm, body
        {
            padding: 0;
            margin: 0;
            position: relative;
        }
        .clearFix
        {
            clear:both;
        }
        .panel.panel-chat
        {
            position: fixed;
            bottom:0;
            right:0;
            max-width: 350px;
            box-shadow: none;
            -webkit-box-shadow: none;
        }
        .panel.panel-chat *
        {
            background: none;
            border: none;
        }
        .panel.panel-chat .panel-heading
        {
            background: #4b67a8;
            border: 1px solid #2e4588;
            color:#FFF;
        }
        .panel.panel-chat .panel-heading a:nth-of-type(1)
        {
            text-decoration: none;
            width: 290px;
            color:#FFF;
            font-weight: bold;
            float:left;
        }
        .panel.panel-chat .panel-heading a:nth-of-type(2)
        {
            text-decoration: none;
            max-width: 11px;
            width: 11px;
            color:#FFF;
            float:right;
        }
        .panel.panel-chat .panel-body
        {
            display: block;
            padding: 0;
            margin: 0;
            max-height: 250px;
            height: 250px;
            border-left: 1px solid #b2b2b2;
            border-right: 1px solid #b2b2b2;
            background: #EDEFF4;
            overflow: auto;
        }
        .panel.panel-chat .panel-body::-webkit-scrollbar {
             display: none;
         }
        .panel.panel-chat .panel-body .messageMe
        {
            border-bottom:1px dotted #b2b2b2;
        }
        .panel.panel-chat .panel-body .messageMe img
         {
             float:left;
             max-width: 50px;
             max-height: 50px;
         }
        .panel.panel-chat .panel-body .messageMe span
        {
            display: block;
            float:left;
            padding: 5px;
            background: #FFF;
            min-height: 50px;
            max-width: 280px;
            height: 50px;
            width: 280px;
            word-break: break-all;
        }
        .panel.panel-chat .panel-body .messageHer
        {
            border-bottom:1px dotted #b2b2b2;
        }
        .panel.panel-chat .panel-body .messageHer img
        {
            float:right;
            max-width: 50px;
            max-height: 50px;
        }
        .panel.panel-chat .panel-body .messageHer span
        {
            display: block;
            float:right;
            padding: 5px;
            background: #FFF;
            min-height: 50px;
            max-width: 280px;
            height: 50px;
            width: 280px;
            word-break: break-all;
        }
        .panel.panel-chat .panel-footer
        {
            padding: 0;
            margin: 0;
            border: 1px solid #b2b2b2;
            max-height: 75px;
            height: 75px;
        }
        .panel.panel-chat .panel-footer textarea
        {
            margin-bottom: -5px;
            resize: none;
            width: 100%;
            height: 100%;
        }
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-route/angular-route.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="main.js"></script>
    <script src="/Controller/services.js"></script>
    <script src="/Controller/socketCtrl.js"></script>
</head>
<body ng-app = "mainModule" ng-controller="SocketCtrl">
  
<div class="container">
	<div class="row">
    	<div class="panel panel-chat">
        <div class="panel-heading">
            <a href="#" class="chatMinimize" onclick="return false"><span>{{user2}}</span></a>
            <a href="#" class="chatClose" onclick="return false"><i class="glyphicon glyphicon-remove"></i></a>
            <div class="clearFix"></div>
        </div>
        <div class="panel-body" id="chatbody">
          <div ng-repeat="msg in message track by $index">
            <div ng-if="msg.split(':')[0]==user1" class="messageMe">
                <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" alt=""/>
                <span>{{msg.split(':')[1]}}</span>
                <div class="clearFix"></div>
            </div>
            <div ng-if="msg.split(':')[0]==user2" class="messageHer">
                <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" alt=""/>
                <span>{{msg.split(':')[1]}}</span>
                <div class="clearFix"></div>
            </div>
          </div>
            <div class="clearFix"></div>
        </div>
        <div class="panel-footer">
            <textarea name="textMessage" ng-model="messageSend" cols="0" rows="0" ng-keypress="($event.which === 13)?sendMsg():0"></textarea>
            <!-- <input type="text" cols="0" rows="0" ng-model="messageSend" ng-keypress="($event.which === 13)?sendMsg():0"> -->
        </div>
    </div>
	</div>
</div>
<script type="text/javascript">
$(function(){
            $(".panel.panel-chat > .panel-heading > .chatMinimize").click(function(){
                if($(this).parent().parent().hasClass('mini'))
                {
                    $(this).parent().parent().removeClass('mini').addClass('normal');

                    $('.panel.panel-chat > .panel-body').animate({height: "250px"}, 500).show();

                    $('.panel.panel-chat > .panel-footer').animate({height: "75px"}, 500).show();
                }
                else
                {
                    $(this).parent().parent().removeClass('normal').addClass('mini');

                    $('.panel.panel-chat > .panel-body').animate({height: "0"}, 500);

                    $('.panel.panel-chat > .panel-footer').animate({height: "0"}, 500);

                    setTimeout(function() {
                        $('.panel.panel-chat > .panel-body').hide();
                        $('.panel.panel-chat > .panel-footer').hide();
                    }, 500);


                }

            });
            $(".panel.panel-chat > .panel-heading > .chatClose").click(function(){
                $(this).parent().parent().remove();
            });
        })
</script>
</body>
</html>
